@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);



body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Raleway', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #7e9b9f !important;
}
.bg-success {
  background-color: #7e9b9f !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #7e9b9f !important;
}
.bg-danger {
  background-color: #7e9b9f !important;
}
.btn-primary {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-secondary {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-warning {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-danger {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-primary-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-warning-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-danger-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.text-primary {
  color: #7e9b9f !important;
}
.text-success {
  color: #7e9b9f !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #7e9b9f !important;
}
.text-danger {
  color: #7e9b9f !important;
}
.alert-success {
  background-color: #7e9b9f;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #7e9b9f;
}
.alert-danger {
  background-color: #7e9b9f;
}
.btn-social {
  border-color: #7e9b9f;
}
.btn-social:hover {
  background: #7e9b9f;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #7e9b9f;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #7e9b9f;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #7e9b9f;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #7e9b9f;
}
.lead a,
.lead a:hover {
  color: #7e9b9f;
}
.lead blockquote {
  border-color: #7e9b9f;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #7e9b9f;
}
.scrollToTop_wraper {
  opacity: 0 !important;
}
#menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-0 .navbar-caption {
  color: #ffffff;
}
#menu-0 .navbar-toggler {
  color: #000000;
}
#menu-0 .link,
#menu-0 .dropdown-item {
  color: #000000;
}
#menu-0 .link {
  font-size: 0.85rem;
}
#menu-0 .dropdown-item,
#menu-0 .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-0 .link:hover,
#menu-0 .dropdown-item:hover,
#menu-0 .link:focus,
#menu-0 .dropdown-item:focus {
  color: #7e9b9f;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-menu {
  background: #e6e6e6;
}
#menu-0 .nav-dropdown-sm .link:focus,
#menu-0 .nav-dropdown-sm .link:hover,
#menu-0 .nav-dropdown-sm .dropdown-item:focus,
#menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-0 .navbar,
#menu-0 .nav-dropdown-sm,
#menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-0 .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-0 .bg-color.transparent.opened .link:hover,
#menu-0 .bg-color.transparent.opened .link:focus {
  color: #7e9b9f;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-item[aria-expanded="true"] {
  color: #7e9b9f!important;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-0 .close-icon::before,
#menu-0 .close-icon::after {
  background-color: #000000;
}
#menu-w .hide-buttons .nav-btn {
  display: none !important;
}
#menu-w .navbar-caption {
  color: #ffffff;
}
#menu-w .navbar-toggler {
  color: #000000;
}
#menu-w .link,
#menu-w .dropdown-item {
  color: #000000;
}
#menu-w .link {
  font-size: 0.85rem;
}
#menu-w .dropdown-item,
#menu-w .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-w .link:hover,
#menu-w .dropdown-item:hover,
#menu-w .link:focus,
#menu-w .dropdown-item:focus {
  color: #7e9b9f;
}
#menu-w .link[aria-expanded="true"],
#menu-w .dropdown-menu {
  background: #e6e6e6;
}
#menu-w .nav-dropdown-sm .link:focus,
#menu-w .nav-dropdown-sm .link:hover,
#menu-w .nav-dropdown-sm .dropdown-item:focus,
#menu-w .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-w .navbar,
#menu-w .nav-dropdown-sm,
#menu-w .nav-dropdown-sm .link[aria-expanded="true"],
#menu-w .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-w .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-w .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-w .bg-color.transparent.opened .link:hover,
#menu-w .bg-color.transparent.opened .link:focus {
  color: #7e9b9f;
}
#menu-w .link[aria-expanded="true"],
#menu-w .dropdown-item[aria-expanded="true"] {
  color: #7e9b9f!important;
}
#menu-w.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-w .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-w .close-icon::before,
#menu-w .close-icon::after {
  background-color: #000000;
}
#header3-y .mbr-section-title,
#header3-y .mbr-section-subtitle {
  text-align: center;
}
#content1-z P {
  text-align: center;
}
#gallery1-10 .mbr-gallery-item > div > span {
  font-size: 10px;
}
#gallery1-11 .mbr-gallery-item > div > span {
  font-size: 10px;
}
#menu-t .hide-buttons .nav-btn {
  display: none !important;
}
#menu-t .navbar-caption {
  color: #ffffff;
}
#menu-t .navbar-toggler {
  color: #000000;
}
#menu-t .link,
#menu-t .dropdown-item {
  color: #000000;
}
#menu-t .link {
  font-size: 0.85rem;
}
#menu-t .dropdown-item,
#menu-t .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-t .link:hover,
#menu-t .dropdown-item:hover,
#menu-t .link:focus,
#menu-t .dropdown-item:focus {
  color: #7e9b9f;
}
#menu-t .link[aria-expanded="true"],
#menu-t .dropdown-menu {
  background: #e6e6e6;
}
#menu-t .nav-dropdown-sm .link:focus,
#menu-t .nav-dropdown-sm .link:hover,
#menu-t .nav-dropdown-sm .dropdown-item:focus,
#menu-t .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-t .navbar,
#menu-t .nav-dropdown-sm,
#menu-t .nav-dropdown-sm .link[aria-expanded="true"],
#menu-t .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-t .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-t .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-t .bg-color.transparent.opened .link:hover,
#menu-t .bg-color.transparent.opened .link:focus {
  color: #7e9b9f;
}
#menu-t .link[aria-expanded="true"],
#menu-t .dropdown-item[aria-expanded="true"] {
  color: #7e9b9f!important;
}
#menu-t.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-t .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-t .close-icon::before,
#menu-t .close-icon::after {
  background-color: #000000;
}
#header3-12 .mbr-section-title,
#header3-12 .mbr-section-subtitle {
  text-align: center;
}
#header3-1b .mbr-section-title,
#header3-1b .mbr-section-subtitle {
  text-align: center;
}
#menu-19 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-19 .navbar-caption {
  color: #ffffff;
}
#menu-19 .navbar-toggler {
  color: #000000;
}
#menu-19 .link,
#menu-19 .dropdown-item {
  color: #000000;
}
#menu-19 .link {
  font-size: 0.85rem;
}
#menu-19 .dropdown-item,
#menu-19 .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-19 .link:hover,
#menu-19 .dropdown-item:hover,
#menu-19 .link:focus,
#menu-19 .dropdown-item:focus {
  color: #7e9b9f;
}
#menu-19 .link[aria-expanded="true"],
#menu-19 .dropdown-menu {
  background: #e6e6e6;
}
#menu-19 .nav-dropdown-sm .link:focus,
#menu-19 .nav-dropdown-sm .link:hover,
#menu-19 .nav-dropdown-sm .dropdown-item:focus,
#menu-19 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-19 .navbar,
#menu-19 .nav-dropdown-sm,
#menu-19 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-19 .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-19 .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-19 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-19 .bg-color.transparent.opened .link:hover,
#menu-19 .bg-color.transparent.opened .link:focus {
  color: #7e9b9f;
}
#menu-19 .link[aria-expanded="true"],
#menu-19 .dropdown-item[aria-expanded="true"] {
  color: #7e9b9f!important;
}
#menu-19.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-19 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-19 .close-icon::before,
#menu-19 .close-icon::after {
  background-color: #000000;
}
#menu-1f .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1f .navbar-caption {
  color: #ffffff;
}
#menu-1f .navbar-toggler {
  color: #000000;
}
#menu-1f .link,
#menu-1f .dropdown-item {
  color: #000000;
}
#menu-1f .link {
  font-size: 0.85rem;
}
#menu-1f .dropdown-item,
#menu-1f .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-1f .link:hover,
#menu-1f .dropdown-item:hover,
#menu-1f .link:focus,
#menu-1f .dropdown-item:focus {
  color: #7e9b9f;
}
#menu-1f .link[aria-expanded="true"],
#menu-1f .dropdown-menu {
  background: #e6e6e6;
}
#menu-1f .nav-dropdown-sm .link:focus,
#menu-1f .nav-dropdown-sm .link:hover,
#menu-1f .nav-dropdown-sm .dropdown-item:focus,
#menu-1f .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-1f .navbar,
#menu-1f .nav-dropdown-sm,
#menu-1f .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1f .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-1f .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-1f .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1f .bg-color.transparent.opened .link:hover,
#menu-1f .bg-color.transparent.opened .link:focus {
  color: #7e9b9f;
}
#menu-1f .link[aria-expanded="true"],
#menu-1f .dropdown-item[aria-expanded="true"] {
  color: #7e9b9f!important;
}
#menu-1f.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-1f .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-1f .close-icon::before,
#menu-1f .close-icon::after {
  background-color: #000000;
}
#features3-1h P {
  text-align: center;
}
#menu-1i .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1i .navbar-caption {
  color: #ffffff;
}
#menu-1i .navbar-toggler {
  color: #000000;
}
#menu-1i .link,
#menu-1i .dropdown-item {
  color: #000000;
}
#menu-1i .link {
  font-size: 0.85rem;
}
#menu-1i .dropdown-item,
#menu-1i .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-1i .link:hover,
#menu-1i .dropdown-item:hover,
#menu-1i .link:focus,
#menu-1i .dropdown-item:focus {
  color: #7e9b9f;
}
#menu-1i .link[aria-expanded="true"],
#menu-1i .dropdown-menu {
  background: #e6e6e6;
}
#menu-1i .nav-dropdown-sm .link:focus,
#menu-1i .nav-dropdown-sm .link:hover,
#menu-1i .nav-dropdown-sm .dropdown-item:focus,
#menu-1i .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-1i .navbar,
#menu-1i .nav-dropdown-sm,
#menu-1i .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1i .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-1i .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-1i .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1i .bg-color.transparent.opened .link:hover,
#menu-1i .bg-color.transparent.opened .link:focus {
  color: #7e9b9f;
}
#menu-1i .link[aria-expanded="true"],
#menu-1i .dropdown-item[aria-expanded="true"] {
  color: #7e9b9f!important;
}
#menu-1i.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-1i .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-1i .close-icon::before,
#menu-1i .close-icon::after {
  background-color: #000000;
}
#header3-1k .mbr-section-title,
#header3-1k .mbr-section-subtitle {
  text-align: center;
}
#content6-1m P {
  text-align: left;
}
#content1-2e P {
  text-align: left;
  font-size: 17px;
}
#menu-1t .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1t .navbar-caption {
  color: #ffffff;
}
#menu-1t .navbar-toggler {
  color: #000000;
}
#menu-1t .link,
#menu-1t .dropdown-item {
  color: #000000;
}
#menu-1t .link {
  font-size: 0.85rem;
}
#menu-1t .dropdown-item,
#menu-1t .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-1t .link:hover,
#menu-1t .dropdown-item:hover,
#menu-1t .link:focus,
#menu-1t .dropdown-item:focus {
  color: #7e9b9f;
}
#menu-1t .link[aria-expanded="true"],
#menu-1t .dropdown-menu {
  background: #e6e6e6;
}
#menu-1t .nav-dropdown-sm .link:focus,
#menu-1t .nav-dropdown-sm .link:hover,
#menu-1t .nav-dropdown-sm .dropdown-item:focus,
#menu-1t .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-1t .navbar,
#menu-1t .nav-dropdown-sm,
#menu-1t .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1t .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-1t .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-1t .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1t .bg-color.transparent.opened .link:hover,
#menu-1t .bg-color.transparent.opened .link:focus {
  color: #7e9b9f;
}
#menu-1t .link[aria-expanded="true"],
#menu-1t .dropdown-item[aria-expanded="true"] {
  color: #7e9b9f!important;
}
#menu-1t.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-1t .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-1t .close-icon::before,
#menu-1t .close-icon::after {
  background-color: #000000;
}
#header3-2o .mbr-section-title,
#header3-2o .mbr-section-subtitle {
  text-align: center;
}
#menu-1y .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1y .navbar-caption {
  color: #ffffff;
}
#menu-1y .navbar-toggler {
  color: #000000;
}
#menu-1y .link,
#menu-1y .dropdown-item {
  color: #000000;
}
#menu-1y .link {
  font-size: 0.85rem;
}
#menu-1y .dropdown-item,
#menu-1y .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-1y .link:hover,
#menu-1y .dropdown-item:hover,
#menu-1y .link:focus,
#menu-1y .dropdown-item:focus {
  color: #7e9b9f;
}
#menu-1y .link[aria-expanded="true"],
#menu-1y .dropdown-menu {
  background: #e6e6e6;
}
#menu-1y .nav-dropdown-sm .link:focus,
#menu-1y .nav-dropdown-sm .link:hover,
#menu-1y .nav-dropdown-sm .dropdown-item:focus,
#menu-1y .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-1y .navbar,
#menu-1y .nav-dropdown-sm,
#menu-1y .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1y .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-1y .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-1y .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1y .bg-color.transparent.opened .link:hover,
#menu-1y .bg-color.transparent.opened .link:focus {
  color: #7e9b9f;
}
#menu-1y .link[aria-expanded="true"],
#menu-1y .dropdown-item[aria-expanded="true"] {
  color: #7e9b9f!important;
}
#menu-1y.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-1y .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-1y .close-icon::before,
#menu-1y .close-icon::after {
  background-color: #000000;
}
#msg-box8-21 .mbr-section-title,
#msg-box8-21 p {
  color: #fff;
}
#menu-23 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-23 .navbar-caption {
  color: #ffffff;
}
#menu-23 .navbar-toggler {
  color: #000000;
}
#menu-23 .link,
#menu-23 .dropdown-item {
  color: #000000;
}
#menu-23 .link {
  font-size: 0.85rem;
}
#menu-23 .dropdown-item,
#menu-23 .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-23 .link:hover,
#menu-23 .dropdown-item:hover,
#menu-23 .link:focus,
#menu-23 .dropdown-item:focus {
  color: #7e9b9f;
}
#menu-23 .link[aria-expanded="true"],
#menu-23 .dropdown-menu {
  background: #e6e6e6;
}
#menu-23 .nav-dropdown-sm .link:focus,
#menu-23 .nav-dropdown-sm .link:hover,
#menu-23 .nav-dropdown-sm .dropdown-item:focus,
#menu-23 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-23 .navbar,
#menu-23 .nav-dropdown-sm,
#menu-23 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-23 .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-23 .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-23 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-23 .bg-color.transparent.opened .link:hover,
#menu-23 .bg-color.transparent.opened .link:focus {
  color: #7e9b9f;
}
#menu-23 .link[aria-expanded="true"],
#menu-23 .dropdown-item[aria-expanded="true"] {
  color: #7e9b9f!important;
}
#menu-23.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-23 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-23 .close-icon::before,
#menu-23 .close-icon::after {
  background-color: #000000;
}
#header3-25 .mbr-section-title,
#header3-25 .mbr-section-subtitle {
  text-align: center;
}
#menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-0 .navbar-caption {
  color: #ffffff;
}
#menu-0 .navbar-toggler {
  color: #000000;
}
#menu-0 .link,
#menu-0 .dropdown-item {
  color: #000000;
}
#menu-0 .link {
  font-size: 0.85rem;
}
#menu-0 .dropdown-item,
#menu-0 .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-0 .link:hover,
#menu-0 .dropdown-item:hover,
#menu-0 .link:focus,
#menu-0 .dropdown-item:focus {
  color: #7e9b9f;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-menu {
  background: #e6e6e6;
}
#menu-0 .nav-dropdown-sm .link:focus,
#menu-0 .nav-dropdown-sm .link:hover,
#menu-0 .nav-dropdown-sm .dropdown-item:focus,
#menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-0 .navbar,
#menu-0 .nav-dropdown-sm,
#menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-0 .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-0 .bg-color.transparent.opened .link:hover,
#menu-0 .bg-color.transparent.opened .link:focus {
  color: #7e9b9f;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-item[aria-expanded="true"] {
  color: #7e9b9f!important;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-0 .close-icon::before,
#menu-0 .close-icon::after {
  background-color: #000000;
}
#header6-2b .mbr-section-title {
  color: #28262b;
}
#header6-2b .mbr-section-text {
  color: #565656;
}
#header6-2b P {
  color: #000000;
}
#header3-2c .mbr-section-title,
#header3-2c .mbr-section-subtitle {
  text-align: center;
}
#menu-2i .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2i .navbar-caption {
  color: #ffffff;
}
#menu-2i .navbar-toggler {
  color: #000000;
}
#menu-2i .link,
#menu-2i .dropdown-item {
  color: #000000;
}
#menu-2i .link {
  font-size: 0.85rem;
}
#menu-2i .dropdown-item,
#menu-2i .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-2i .link:hover,
#menu-2i .dropdown-item:hover,
#menu-2i .link:focus,
#menu-2i .dropdown-item:focus {
  color: #7e9b9f;
}
#menu-2i .link[aria-expanded="true"],
#menu-2i .dropdown-menu {
  background: #e6e6e6;
}
#menu-2i .nav-dropdown-sm .link:focus,
#menu-2i .nav-dropdown-sm .link:hover,
#menu-2i .nav-dropdown-sm .dropdown-item:focus,
#menu-2i .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-2i .navbar,
#menu-2i .nav-dropdown-sm,
#menu-2i .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2i .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-2i .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-2i .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2i .bg-color.transparent.opened .link:hover,
#menu-2i .bg-color.transparent.opened .link:focus {
  color: #7e9b9f;
}
#menu-2i .link[aria-expanded="true"],
#menu-2i .dropdown-item[aria-expanded="true"] {
  color: #7e9b9f!important;
}
#menu-2i.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-2i .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-2i .close-icon::before,
#menu-2i .close-icon::after {
  background-color: #000000;
}
#header3-2k .mbr-section-title,
#header3-2k .mbr-section-subtitle {
  text-align: center;
}
